@import '@styles/colors.scss';

.page {
  max-width: 900px;
  background-color: $white;
  border-radius: 12px 12px 0px 0px;
  margin: 24px auto;
  padding: 25px 24px;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 26px;
  margin-bottom: 48px;
}
