$text: #333333;
$page-bg: #f4f4f5;
$white: #ffffff;
$blue: #5558fa;
$blue-hover: #0024cb;
$blue-active: #274bc8;
$avatar-bg: #d5e4f7;
$avatar-text: #212830;
$red: #d30202;
$tip: rgba(0, 0, 0, 0.48);
$input-border: rgba(0, 0, 0, 0.16);
$header-border: rgba(0, 0, 0, 0.08);
$checkbox-border: rgba(0, 0, 0, 0.24);
$close-icon: (0, 0, 0, 0.04);
$loading: rgba(88, 78, 232, 0.4);
$success: rgba(5, 174, 113, 0.15);
$error: rgba(232, 78, 88, 0.15);
$stepper-active: #5558fa;
$stepper-circle: #a6a6a6;
$stepper-number: #666666;
