@font-face {
  font-family: 'SB-Sans-Interface';
  src: url('../assets/fonts/SB_Sans_Interface.woff2') format('woff2'),
    url('../assets/fonts/SB_Sans_Interface.woff') format('woff'),
    url('../assets/fonts/SB_Sans_Interface.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
